.options{
	position: absolute;
	right: 25px;
}

.button:hover{
	cursor: pointer;
}

.button:focus{
	outline: none;
}

.selected h1{
	font-size: 4em;
	font-weight: 400;
}

.selected:hover{
	cursor: default;
}

.middle{
	height: 80%;
}
.configuration{
	padding-top: 128px;
	position: absolute;
	width: 100%; height: 100%;
	z-index: 1;
	transition: transform .75s ease-out;
}

.configuration.done{
	transform: translateY(-100%);
}

.middle .winner{
	font-size: 1.5em;
	position: absolute;
	transform: translateY(-100%);
	width: 100%; height: 100%;
	z-index: 1;
	transition: transform .5s ease-in-out;
}

.middle.game-over .winner{
	transform: translateY( 0 );
	transition-delay: 1s;
}

.middle .grid-list{
	width: 350px; height: 350px;
}

.bottom{
	height: 20%;
}

@media( min-width: 768px ){
	.bottom{
		justify-content: center;
	}

	.bottom div{
		max-width: 20% !important;
	}
}

.reset{
	position: absolute;
	right: 25px;
}